.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f9f9f9;
}
.font-face-gv {
  font-family: "GreatVibesRegular";
  font-weight: 200;
  font-size: 50px;
}

.font-face-mulish {
  font-family: "Mulish";
}

.font-face-playfair{
  font-family: "PlayFair";
  font-weight: 200;
}
header {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  width: 100vw;
}

a { 
  color: black;
  text-decoration: none;
}

header nav a {
  margin: 0 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
  width: 100vw;
  font-weight: 350;
}

.links{
  padding-right: 20px;
  margin-top: 50px;
}

.nav-title{
  margin-left: 20px;
}

.home-title{
  display: grid;
  justify-items: center;
  font-style: italic;
}
.country-title{
  margin-left: 14px;
}

#name{
  margin: 0 10px 10px 0;
}

#url{
  margin: 0 10px 10px 0;
}

#description{
  margin: 0 10px 10px 0;
  
}

#country{
  margin: 0 10px 10px 0;
}

label {
  margin-right: 5px;
}

.container-grid{
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foodPage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}


img {
  width: 400px;
  height: 280px;
}

.box {
  margin: 10px;
  background-color: white;
  font-weight: 200;
}

.countryFood-grid{
  margin: 10px;
}






