.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  width: 100vw;
  color: white;
}

a { 
  color: white;
  text-decoration: none;
}

header nav a {
  margin: 0 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
  width: 100vw;
}

.links{
  padding-right: 20px;
  margin-top: 50px;
}

.nav-title{
  margin-left: 20px;
}

.home-title{
  display: grid;
  justify-items: center;
}
.container-grid{
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foodPage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.food{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
img {
  width: 400px;
  height: 280px;
}
