.App {
  display: flex;
  justify-content: center;
}

.navbar{
  justify-content: space-between;
  align-items: center;
  background-color: rgb(189, 45, 45);
  padding: 1em;
  
}


.container-grid{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foodPage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.food{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}
img {
  max-width: 400px;
}
